* {
    margin: 0;
}

body {
    background-color: #212529;
    font-family: 'Poppins';
    color: #ffffff;
}

#header{
    padding: 5px 49px 100px 49px;
    display:flex; 
    justify-content: space-between;   
}

.logo{
    width: 65px;
    height: 70px;
}

.ul{
    margin: 25px 0 0 0;
    font-size: 18px;
}

.li {
    display: inline;
    list-style-type: none;
    margin: 10px;
}

a {
    text-decoration: none;
}

#header a:visited, #header a:link {
    color: white;
} 

#header a:hover {
    color: #ffb742;
}

button {
    font-weight: 800;
    color: black;
    width: 80px;
    height: 40px;
    left: 1271px;
    top: 23.06px;

    background: #FFB742;
    border: 2px solid #FFB742;
    border-radius: 50px;
    border-style: none;
    margin: 15px 5px;
}

/* End */

/* Main */
#contact {
    display: flex;
    justify-content:center;
}

#main h4{
    width: 150px;
    height: 40px;
    color: #FFB742;
    background: rgba(255, 255, 255, 0.08);
    font-family: 'Poppins';
    font-size: 20px;
    border-radius: 50px;
    padding-top: 10px;
    padding-left: 20px;
}

#casillas{
    display: flex;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    
    margin-top: 80px;
}

#name{
    width: 510px;
    height: 80px;
    background-color: #212529;
    color: white;
    font-size: 30px;
    border: none;
    border-bottom: 1px solid #676767;
    outline: none;
    
}

#email{
    width: 510px;
    height: 80px;
    background-color: #212529;
    color: white;
    font-size: 30px;
    border: none;
    border-bottom: 1px solid #676767;
    outline: none;
}

#phone{
    width: 510px;
    height: 80px;
    background-color: #212529;
    color: white;
    font-size: 30px;
    border: none;
    border-bottom: 1px solid #676767;
    outline: none;
}

#casillas ::placeholder{
    color: #ffffff;
}

#button-send {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 160px;
    position: relative;
    right: 220px;

}

/* End */

#footer{
    display: flex;
    background-color: #1c1c1c;
    justify-content: space-around;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 20px;
    font-family: "Work Sans";
}

.li-footer{
    display: block;
    color: #7c7c7c;
    font-size: 18px;
    margin: 10px;
}

.color:link, .color:visited {
    color: #7c7c7c;
}

.color:hover{
    color: white;
}

#footer h3{
    color: #FFB742;
    padding-bottom: 30px ;
    font-size: 28px;
    font-family: 'Poppins';

}

#text{
    font-size: 16px;
    font-family: 'work Sans';
    color: #D4D4D4;

}


#alinear-nombre{
    padding: 30px 0px 0px 20px;
}

#center{
    width: 140px;
    padding-left: 10px;
}

#alinear-link{
    padding: 40px 0px 0px 100px;
}

#footer ul{
    padding-left: 0px;
    margin-top: 20px;
}

#alinear-social{
    padding: 40px 0px 0px 120px;
}

#alinear-hire{
    width: 280px;
    padding: 40px 0px 0px 120px;
}

#footer h4{
    font-size: 21px;
}

#alinear-hire p{
    color: #7c7c7c;
    margin-top: 18px;
    margin-bottom: 60px;
    line-height: 30px;
}

#box-email{
    height: 30px;
    background-color: #212529;
    
    border-radius: 30px;
    padding: 15px;
    font-size: 18px;
    border: none;
    outline: none;
}

#box-email ::placeholder{
    color: #7c7c7c;
}

#form{
    display:flex;
}

.logo-send{
    position: relative;
    right: 45px;
}